body {
	margin: 0;
	background-color: #e3caa5;
}
* {
	font-family: "Courier New", Courier, monospace;
	font-weight: 700;
}

.input-field {
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 65rem;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: start;
}
.flex {
	padding-top: 1rem;
	text-align: center;
	position: relative;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 20%;
	display: inline-block;
}
.flex + .flex-url {
	flex-basis: 40%;
}
.flex p {
	width: 80%;
	margin: 0 auto 1rem auto;
	text-align: start;
}
.flex input {
	width: 80%;
	height: 2rem;
	padding-left: 1rem;
	color: rgba(66, 66, 66, 0.5);
	border: 1px solid #ad8b73;
}
.flex-button {
	display: flex;
}
.flex button {
	width: 80%;
	height: 2.3rem;

	background-color: #ad8b73;
	color: #fffbe9;
	display: inline-block;
	align-self: flex-end;
	margin: 0 auto;
}

.playground {
	display: flex;
	width: 80%;
	margin: 2rem auto 0 auto;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 1024px) {
	.input-field {
		width: 90%;
		margin: auto;
		flex-direction: column;
	}
	.flex {
		height: auto;
		flex-basis: 50%;
	}
	.flex + .flex-url {
		height: 20rem;
		flex-basis: 100%;
	}
	.playground {
		flex-direction: column-reverse;
		align-items: baseline;
	}
}
#img-playground {
	touch-action: none;
	position: relative;
	width: 650px;
	height: 450px;
	background-color: #fffbe9;
}
.clock-area {
	position: relative;
	width: 360px;
	height: 450px;
	text-align: center;
}
#clock {
	position: relative;
	width: 10rem;
	height: 10rem;

	margin: 2rem auto;
	background-color: #ad8b73;
	color: #fffbe9;
}
#clock p,
#starter-clock p {
	font-size: 2.6rem;
	margin: 0;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#move-block {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 1rem;
	height: 1rem;
	background-color: #ceab93;
	animation: none;
}

@keyframes moveBlock {
	0% {
		left: -2rem;
		top: -2rem;
	}
	25% {
		left: 11rem;
		top: -2rem;
	}
	50% {
		left: 11rem;
		top: 11rem;
	}
	75% {
		left: -2rem;
		top: 11rem;
	}
	100% {
		left: -2rem;
		top: -2rem;
	}
}
#starter-clock {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 10rem;
	height: 10rem;
	background-color: #ceab93;
	color: #fffbe9;
	z-index: 3;
}
#overlay {
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #000000;
	opacity: 0.6;
	z-index: 2;
}
#starter-clock p {
	font-size: 5rem;
}
.img-part {
	position: absolute;
	transition-duration: 0s;
}

#full-img {
	visibility: hidden;
	position: absolute;
}

#finish-post {
	text-align: center;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20rem;
	height: 10rem;
	border: 1px solid #8b705c;
	border-radius: 10px;
	background-color: #ad8b73;
	z-index: 3;
}

#finish-post * {
	color: #fffbe9;
}
.button {
	text-decoration: none;

	background-color: #ad8b73;
	border-radius: 10px;
	padding: 0.2rem 0.5rem;
}
